    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: linear-gradient(to right top, #8ba2ff, #92a7fd, #9aadfa, #a1b2f8, #a8b7f5, #b1bef5, #b9c5f5, #c2ccf5, #cfd7f8, #dbe1fa, #e8ecfd, #f5f7ff);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        margin: 0;
        font-family: 'Red Hat Display', sans-serif;
    }
    
    .content {
        display: grid;
        place-items: center;
    }
    
    .card {
        width: 23%;
        border-radius: 20px;
        background-color: transparent;
        padding-bottom: 20px;
        -webkit-box-shadow: 0px 5px 20px -1px rgba(0, 0, 0, 0.18);
        box-shadow: 0px 5px 20px -1px rgba(0, 0, 0, 0.18);
    }
    
    .card .card-content p.info {
        font-size: 16px;
        width: 75%;
        text-align: center;
        color: hsl(224, 18%, 41%);
        line-height: 25px;
    }
    
    .card-image img {
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    
    .card-content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h1 {
        color: hsl(223, 47%, 23%);
        margin-bottom: 0;
        font-weight: 900;
        font-size: 28px;
    }
    
    .plan {
        display: flex;
        border-radius: 12px;
        background-color: rgba(223, 232, 255, 0.3);
        align-items: center;
        justify-content: space-between;
        width: 70%;
        padding: 5%;
    }
    
    .plan .img-details {
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .plan .plan-details {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    
    .plan .plan-details p,
    h3 {
        margin: 0;
        color: hsl(224, 23%, 55%);
    }
    
    .plan .plan-details h3 {
        margin-bottom: 1px;
        color: hsl(223, 47%, 23%);
        font-weight: 900;
        font-size: 16px;
    }
    
    .plan a {
        color: hsl(245, 75%, 52%);
        font-weight: 900;
        font-size: 14px;
    }
    
    .plan img {
        width: 45px;
        height: 45px;
    }
    
    a.proceed {
        background-color: #3829e0;
        width: 80%;
        padding: 3% 0;
        border-radius: 12px;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 30px 0;
        -webkit-box-shadow: 0px 5px 17px 5px rgba(56, 41, 224, 0.32);
        box-shadow: 0px 5px 17px 5px rgba(56, 41, 224, 0.32);
    }
    
    a.cancel {
        color: hsl(224, 18%, 41%);
        margin: 0 0 20px;
        font-weight: 900;
        text-decoration: none;
    }
    
    @media (max-width: 789px) {
        .card {
            width: 87%;
            padding-bottom: 15px;
        }
        a.proceed {
            width: 85%;
            padding: 5.3% 0;
            margin-top: 20px;
        }
        .plan {
            width: 75%;
        }
        .card .card-content p.info {
            width: 78%;
            margin-bottom: 30px;
            font-size: 15px;
        }
        .card-content {
            margin-top: 7px;
        }
        h1 {
            font-size: 23px;
        }
    }